@import "../colors.scss";

.App{
  .Todo{
    min-height: 80vh;
    min-width: 87.5%;
    position: absolute;
    transform: translateX(-50%);
    top:5.5%;
    left: 50%;
    
    .header-todo{
      min-height:2rem;
      height: 100%;
      min-width: 100%;
      // background: rgba(0, 0, 0, 0.423);
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2{
        font-size: 1.7rem;
        letter-spacing: .7rem;
        color: $Very-Light-Gray;
        
      }

      img{
        width: 1.3rem;
        cursor: pointer;
      }
    }

    .input-todo-dark,.input-todo-light{
      width: 100%;
      height: 3rem;
      background: $Very-Dark-Desaturated-Blue; 
      margin-top: 2.05rem;
      border-radius: .3rem;
      display: flex;
      justify-content: center;
      box-shadow: 0px 0px 50px -5px rgba(0,0,0,0.1);
      .wrapper-input{
        width: 87%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        .input-dark,.input-light{
          height: 100%;
          width: 100%;
          border: 0;
          background-color: $Very-Dark-Desaturated-Blue;
          color: #fff;

          &:focus{
            outline: none;
          }
        }
        .input-light{
          background: $Very-Light-Gray;
          color: #000;
        }
      }
    }

    .input-todo-light{
      background-color: $Very-Light-Gray;
      .wrapper-input{
        input{
          background-color: $Very-Light-Gray;;
        }
      }
    }
    // fim do input todo\

    .button,.button-active, .button-dark{
      width: 1.6rem;
      height: 1.5rem;
      border-radius: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor:pointer;
      border: 1px solid $Light-Grayish-Blue;
      background-color: #fff;
    }

    .button-dark{
      border: 1px solid $Very-Dark-Grayish-Blue;
      background: $Very-Dark-Desaturated-Blue;
    }

    .list-todo{
      width: 100%;
      margin-top: 1rem;
      box-shadow: 0px 0px 50px -5px rgba(0,0,0,0.1);
      background: $Very-Light-Gray;
      // background: rgba(0, 0, 0, 0.42);
      border-radius: .3rem;
      .item-task-light, .item-task-dark{
        width: 100%;
        height: 3.3rem;
        padding: 0 1.2rem;
        border-radius: .3rem .3rem 0 0;
        border-bottom: 1px solid $Light-Grayish-Blue-hover;
        &:first-child{
          border-radius: .3rem .3rem 0 0;
        }
        .wrapper-item{
          width: 100%;
          height: 100%;
          // background: rgba(0, 0, 0, 0.391);
          display: flex;
          align-items: center;
          justify-content: space-around;
          .button-active{
            display: flex;
            align-items:center;
            justify-content:center;
            border: $Dark-Grayish-Blue;
            background-image: linear-gradient( to right, #57ddff, #c058f3);
          }
          input{
            width: 80%;
            height: 100%;
            border: none;
            background: $Very-Light-Gray;
            &:focus{
              outline: none;
            }
          }
          #close-icon{
            width: .8rem;
            cursor: pointer;
            transition: .2s;
            opacity: 0;
          }
          &:hover #close-icon{
            opacity: 100%;
          }
        }
      }
      .item-task-dark{
        background: $Very-Dark-Desaturated-Blue;
        border-bottom: 1px solid $Very-Dark-Desaturated-Blue;
        border-radius: unset;
        .wrapper-item{
          .button{
            background: $Very-Dark-Desaturated-Blue;
            border: 1px solid $Very-Dark-Grayish-Blue;
            img{
              display: none;
            }
          } 
        }
        &:first-child{
          border-bottom: 1px solid $Very-Dark-Desaturated-Blue;
        }
        .wrapper-item{
          background: $Very-Dark-Desaturated-Blue;
          input{
            background-color: $Very-Dark-Desaturated-Blue;
            color: #fff;
          }
        }
      }
      // fim do item task

      .status-tasks-dark, .status-tasks-light{
        width: 100%;
        height: 3.3rem;
        background: $Very-Dark-Desaturated-Blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.4rem;
        gap: 1rem;
        border-radius:  0 0 .3rem .3rem;
        span{
          font-size: .7rem;
          color: #fff;
          font-weight: bold;
          cursor: pointer;
          transition: .2s;
          &:hover#clear-completed{
            color: $Bright-Blue;
          }
        }
      }
      .status-tasks-light{
        background: $Very-Light-Gray;
        span{
            color: $Dark-Grayish-Blue;
        }
      }
    }

    .filter-list-light, .filter-list-dark{
      width: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $Very-Light-Gray;
      margin-top: 1rem;
      gap: 1rem;
      border-radius: .3rem;
      box-shadow: 0px 0px 50px -5px rgba(0,0,0,0.1);

      span{
        color: $Dark-Grayish-Blue;
        font-weight: bold;
        font-size: .8rem;
        cursor: pointer;
        transition: .2s;
        &:hover{
          color:$Bright-Blue;
        }
      }
    }
    .filter-list-dark{
      background: $Very-Dark-Desaturated-Blue;
      span{
        color: #fff;
      }
    }
    // fim do list todo
  }
}

@media screen and (min-width: 1440px){
  .App{
    .Todo{
      min-width: 37.2%;
      top: 8%;

      .header-todo{
        h2{
          font-size: 2.5rem;
          letter-spacing: 1rem;
        }
        img{
          width: 1.7rem;
        }
      }
      
      .input-todo{
        height: 4.5rem;
        margin-top: 2.5rem;
        .wrapper-input{
          input{
            font-size: 1.3rem;
          }
        }
      }

      .list-todo{
        margin-top: 1.5rem;
        .item-task{
          height: 4.5rem;
          .wrapper-item{
            input{
              font-size: 1.3rem;
            }
          }
        }

        .status-tasks{
          height: 3.5rem;
          align-items: flex-end;
          padding-bottom: 1rem
        }
      }
      .filter-list-light,.filter-list-dark{
        position: relative;
        bottom: 4rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: unset;
        box-shadow: unset;
        width: 40%;
      }
    }
  }
}